
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table style="border:double">
        <tr>
            <td>
                @ViewBag.Desc
            </td>
        </tr>
        <tr>
            <td>he he xd</td>
        </tr>
    </table>
    <div> 
    </div>
</body>
</html>
